.carousel-inner img {
    height: 50px !important; /* Adjust the height as needed */
    object-fit: cover !important; /* This will crop the image to fit the container */
  }

  .carousel-indicators button {
    font-weight: bold; /* Make the buttons bolder */
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: black; /* Change the background color if needed */
    width: 50px;
    height: 50px;
  }